<h2> hello teacher <%= first_name %> </h2>
<p> you have <%= student_count %> student in your class </p>
<p> you have <%= attendance_count %> attendance student in your class </p>
<p> you have <%= absence_count %> absence student in your class </p>
<p> you have <%= activity_count %> activity today in your class </p>